<div class="card">
  <h2 class="card-title">
    <%= link_to article.title, article %>
  </h2>
  <div class="card-meta">
    <span class="card-date"><%= article.date.strftime('%B %d, %Y') %></span>
  </div>
  <% if article.summary %>
    <div class="card-content">
      <p><%= article.summary %></p> 
    </div>
  <% end %>
  <% unless article.tags.empty? %>
    <div class="card-tags">
      <% article.tags.each do |tag| %>
        <%= link_to tag, tag_path(tag), class: 'card-tag' %>
      <% end %>
    </div>
  <% end %>
  <div class="card-actions">
    <%= link_to 'Read More', article, class: 'button button--primary' %>
  </div>
</div> 