<article class="card">
  <div class="card-content">
    <h2 class="card-title">
      <% if defined?(series_metadata) && series_metadata %>
        <%= link_to series_metadata[:name], series_url(series_metadata) %>
      <% else %>
        <%= link_to series_name, series_url(series_name) %>
      <% end %>
    </h2>
    
    <p class="card-description">
      <% if defined?(series_metadata) && series_metadata && series_metadata[:description] %>
        <%= series_metadata[:description] %>
      <% else %>
        <% latest_article = articles.sort_by(&:date).last %>
        <% if latest_article.data.summary %>
          <%= latest_article.data.summary %>
        <% else %>
          A multi-part exploration of <%= (defined?(series_metadata) && series_metadata) ? series_metadata[:name].downcase : series_name.downcase %>.
        <% end %>
      <% end %>
    </p>
    
    <div class="card-meta">
      <span class="card-count"><%= articles.length %> posts</span>
      <% if defined?(series_metadata) && series_metadata && series_metadata[:status] %>
        <span class="card-status"><%= series_metadata[:status] %></span>
      <% end %>
    </div>
    
    <%= link_to "Explore Series", series_url(defined?(series_metadata) && series_metadata ? series_metadata : series_name), 
                class: 'button button--primary' %>
  </div>
</article> 