<div class="card card--series">
  <div class="card-header">
    <% if defined?(series_metadata) && series_metadata && series_metadata[:icon] %>
      <span class="series-icon"><%= series_metadata[:icon] %></span>
    <% end %>
    <h2 class="card-title">
      <% if defined?(series_metadata) && series_metadata %>
        <%= link_to series_metadata[:name], series_url(series_metadata) %>
      <% else %>
        <%= link_to series_name, series_url(series_name) %>
      <% end %>
    </h2>
  </div>
  
  <div class="card-content">
    <p class="card-description">
      <% if defined?(series_metadata) && series_metadata && series_metadata[:description] %>
        <%= series_metadata[:description] %>
      <% else %>
        <% latest_article = articles.sort_by(&:date).last %>
        <% if latest_article.data.summary %>
          <%= latest_article.data.summary %>
        <% else %>
          A multi-part exploration of <%= (defined?(series_metadata) && series_metadata) ? series_metadata[:name].downcase : series_name.downcase %>.
        <% end %>
      <% end %>
    </p>
  </div>
  
  <div class="card-meta">
    <span class="card-count">
      <span class="meta-icon">📚</span>
      <%= articles.length %> posts
    </span>
  </div>
  
  <div class="card-actions">
    <%= link_to "Explore Series", series_url(defined?(series_metadata) && series_metadata ? series_metadata : series_name), 
                class: 'button button--card-action' %>
  </div>
</div> 