<aside class="blog-aside">
  <div class="aside-section">
    <h4>Tags</h4>
    <div class="tags-grid">
      <% blog.tags.each do |tag, articles| %>
        <a href="<%= tag_path(tag) %>" class="tag-link">
          <%= tag %> (<%= articles.size %>)
        </a>
      <% end %>
    </div>
  </div>

  <div class="aside-section">
    <h4>By Year</h4>
    <div class="years-list">
      <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
        <a href="/<%= year %>.html" class="year-link">
          <%= year %> (<%= articles.size %>)
        </a>
      <% end %>
    </div>
  </div>
</aside>
