<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>macapinlac.com<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>

    <%= partial 'layouts/_header' %>

    <main>
      <h2><%= current_article.title %></h2>
      <div class="jetbrains-mono-postbody">
      <%= yield %>
      </div>
      <%
        file = 'source/' + current_page.path + '.md'
        @git = Git.open('./').log.object(file)
        # ignore the first commit
        if @git.size > 1
      %>
        <details class="blog__changes">
          <summary>Changelog</summary>
          <ul>
            <% @git.each do |commit| %>
              <li>
                <b class="blog__changes__date"><%= commit.author_date %></b>
                <%= simple_format(commit.message) %>
              </li>
            <% end %>
          </ul>
        </details>
      <% end %>
    </main>

    <%= partial 'layouts/_footer' %>

  </body>
</html>
