---
title: Home
---

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<div id="articles">
<% blog.articles.each_with_index do |article, i| %>
  <%= partial 'layouts/_blog_card', locals: {
    article: article,
    i: i
  } %>
<% end %>
</div>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
